@media (max-width: 992px) {
    .header.media {
        padding: 20 0 50px 0;
        .navigation {
            width: 100%;
            min-height: 100px;
            padding-left: 20px;
            margin-bottom: 60px;
            .navigation-links {
                position: relative;
                button.navbar-toggler {
                    border-color: #fff;
                    position: absolute;
                    touch-action: 50px;
                    right: 50px;
                }
                .navbar-collapse.collapse.show {
                    width: 200px;
                    height: 100px;
                    text-align: center;
                    .navbar-nav {
                        position: absolute;
                        top: 0px;
                        right: 150px;
                        background-color: #661910af;
                    }
                }
            }
        }
        .header__content {
            h2 {
                font-size: 18px;
                margin-bottom: 20px;
            }
            p {
                font-size: 12px;
                margin-bottom: 20px;
            }
            button {
                width: 130px;
            }
        }
    }
    
    .about-us.media {
        padding: 30px 0;
        .about-us__content {
            flex-wrap: wrap;
            .team {
                margin: 0 auto;
                margin-bottom: 10px;
                width: 45%;
            }
        }
    }

    .works.media {
        padding: 30px 0;
        .works__links  {
            margin-bottom: 30px;
            flex-wrap: wrap;
        }
    }

    .projects {
        .projects__content {
            padding: 40px 0;
            p {
                margin-bottom: 0px;
            }
            .projects-box {
                flex-direction: column;
                align-items: center;
                .for-img {
                    width: 80%;
                    margin-bottom: 20px;
                }
                .text {
                    width: 80%;
                }
            }
        }
    }


    .clients.media {
        padding: 40px 0 30px 0;
        .clients-logo {
            flex-wrap: wrap;
            margin-bottom: 35px;
            .logo-box {
                margin: 20px 20px 0 0;
            }
        }
    }


    .contacts.media {
        padding: 40px 0;
        .contacts__header {
            margin-bottom: 30px;
        }
        .contacts__body {
            display: block;
            .address {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }
            form {
                width: 95%;
                text-align: center;
                button{
                    width: 100%;
                    margin-bottom: 10px;
                }
            }
        }
    }
}
